In [1]:
import pandas as pd  # Importa pandas con alias 'pd'
tabla = pd.read_csv('/Users/miguelpantigoso/Downloads/ventasTotales.csv', sep=';', skiprows=5)
# Lee el archivo CSV, usando ";" como separador y saltando las primeras 5 filas

tabla.head()

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
0,1/01/16,Steve Ashton,Norte,Medias Femeninas,Vestimenta,6,"18,00"
1,1/01/16,Trevor Snodgrass,Oeste,Chocolate,Comestibles,8,"3,84"
2,1/01/16,Sarah Bond,Sur,Gorras,Vestimenta,3,"6,30"
3,1/01/16,Desmond Delaney,Sur,Sánguche de Queso,Comestibles,9,"14,40"
4,1/01/16,Desmond Delaney,Este,Chocolate,Comestibles,14,"6,72"

In [2]:
type(tabla.index) #on inmutales y no nose puede cambiar

pandas.core.indexes.range.RangeIndex

In [3]:
#es un comando que nos permite determinar cual de las series sera como indicie
tabla.set_index('Vendedor')

,Fecha,Región,Artículo,Categoría,Unidades,Ganancia
Vendedor,,,,,,
Steve Ashton,1/01/16,Norte,Medias Femeninas,Vestimenta,6,"18,00"
Trevor Snodgrass,1/01/16,Oeste,Chocolate,Comestibles,8,"3,84"
Sarah Bond,1/01/16,Sur,Gorras,Vestimenta,3,"6,30"
Desmond Delaney,1/01/16,Sur,Sánguche de Queso,Comestibles,9,"14,40"
Desmond Delaney,1/01/16,Este,Chocolate,Comestibles,14,"6,72"
...,...,...,...,...,...,...
Sarah Bond,31/01/16,Sur,Bufanda,Vestimenta,6,"16,50"
Dustin Gee,31/01/16,Este,Sandalias,Vestimenta,11,"115,50"
Dustin Gee,31/01/16,Este,Sánguche de Queso,Comestibles,4,"6,40"
Dustin Gee,31/01/16,Norte,Escobillón,Hogar,8,"6,80"
Trevor Snodgrass,31/01/16,Sur,Pepinillo,Comestibles,7,"2,10"

In [4]:
tabla.head()

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
0,1/01/16,Steve Ashton,Norte,Medias Femeninas,Vestimenta,6,"18,00"
1,1/01/16,Trevor Snodgrass,Oeste,Chocolate,Comestibles,8,"3,84"
2,1/01/16,Sarah Bond,Sur,Gorras,Vestimenta,3,"6,30"
3,1/01/16,Desmond Delaney,Sur,Sánguche de Queso,Comestibles,9,"14,40"
4,1/01/16,Desmond Delaney,Este,Chocolate,Comestibles,14,"6,72"

In [5]:
tabla.set_index('Vendedor', inplace=True) #con esto queda el index que escogemos como indxx
tabla.head()
tabla.reset_index(inplace=True)
tabla.head()

,Vendedor,Fecha,Región,Artículo,Categoría,Unidades,Ganancia
0,Steve Ashton,1/01/16,Norte,Medias Femeninas,Vestimenta,6,"18,00"
1,Trevor Snodgrass,1/01/16,Oeste,Chocolate,Comestibles,8,"3,84"
2,Sarah Bond,1/01/16,Sur,Gorras,Vestimenta,3,"6,30"
3,Desmond Delaney,1/01/16,Sur,Sánguche de Queso,Comestibles,9,"14,40"
4,Desmond Delaney,1/01/16,Este,Chocolate,Comestibles,14,"6,72"

In [6]:
#para evitar hacer lo de arriba prefiereble hacer esto
varia = tabla.set_index('Vendedor')
varia.head()
#varia.reset_index(inplace=True)
#varia.head()

,Fecha,Región,Artículo,Categoría,Unidades,Ganancia
Vendedor,,,,,,
Steve Ashton,1/01/16,Norte,Medias Femeninas,Vestimenta,6,"18,00"
Trevor Snodgrass,1/01/16,Oeste,Chocolate,Comestibles,8,"3,84"
Sarah Bond,1/01/16,Sur,Gorras,Vestimenta,3,"6,30"
Desmond Delaney,1/01/16,Sur,Sánguche de Queso,Comestibles,9,"14,40"
Desmond Delaney,1/01/16,Este,Chocolate,Comestibles,14,"6,72"

In [7]:
#metodo sort
varia.sort_index(inplace=True, ascending=False) #ascendente y descendente
varia.head()

,Fecha,Región,Artículo,Categoría,Unidades,Ganancia
Vendedor,,,,,,
Trevor Snodgrass,31/01/16,Sur,Pepinillo,Comestibles,7,"2,10"
Trevor Snodgrass,5/01/16,Este,Bufanda,Vestimenta,3,"8,25"
Trevor Snodgrass,6/01/16,Norte,Limpiavidrios,Hogar,2,"1,60"
Trevor Snodgrass,16/01/16,Oeste,Calcetines,Vestimenta,1,"2,25"
Trevor Snodgrass,16/01/16,Sur,Shorts,Vestimenta,2,"9,80"

In [ ]:
#loc es un indice basado en etiquetas genera un mensaje de error cuando no encuentra el objeto buscado ojo que busca en sindicies
tabla.set_index('Vendedor' ,inplace=True)
tabla.head()
tabla.loc['Sarah Bond']

               Fecha Región    Artículo    Categoría  Unidades Ganancia
Vendedor
Sarah Bond   1/01/16    Sur      Gorras   Vestimenta         3     6,30
Sarah Bond   1/01/16   Este   Caramelos  Comestibles        15     9,00
Sarah Bond   2/01/16  Norte     Bufanda   Vestimenta         4    11,00
Sarah Bond   2/01/16   Este      Escoba        Hogar        12    43,80
Sarah Bond   4/01/16    Sur  Detergente        Hogar        11    27,28
...              ...    ...         ...          ...       ...      ...
Sarah Bond  29/01/16   Este      Gorras   Vestimenta         7    14,70
Sarah Bond  29/01/16  Oeste  Detergente        Hogar         3     7,44
Sarah Bond  31/01/16    Sur  Calcetines   Vestimenta         7    15,75
Sarah Bond  31/01/16  Norte    Bombilla        Hogar         4     2,40
Sarah Bond  31/01/16    Sur     Bufanda   Vestimenta         6    16,50

[86 rows x 6 columns]

In [10]:
tabla.reset_index(inplace=True)
tabla.head()

,index,Vendedor,Fecha,Región,Artículo,Categoría,Unidades,Ganancia
0,0,Steve Ashton,1/01/16,Norte,Medias Femeninas,Vestimenta,6,"18,00"
1,1,Trevor Snodgrass,1/01/16,Oeste,Chocolate,Comestibles,8,"3,84"
2,2,Sarah Bond,1/01/16,Sur,Gorras,Vestimenta,3,"6,30"
3,3,Desmond Delaney,1/01/16,Sur,Sánguche de Queso,Comestibles,9,"14,40"
4,4,Desmond Delaney,1/01/16,Este,Chocolate,Comestibles,14,"6,72"

In [ ]:
tabla.loc[tabla.Vendedor == 'Sarah Bond'] #opcion rapido sin modificar el indice

,index,Vendedor,Fecha,Región,Artículo,Categoría,Unidades,Ganancia
2,2,Sarah Bond,1/01/16,Sur,Gorras,Vestimenta,3,"6,30"
9,9,Sarah Bond,1/01/16,Este,Caramelos,Comestibles,15,"9,00"
23,23,Sarah Bond,2/01/16,Norte,Bufanda,Vestimenta,4,"11,00"
27,27,Sarah Bond,2/01/16,Este,Escoba,Hogar,12,"43,80"
42,42,Sarah Bond,4/01/16,Sur,Detergente,Hogar,11,"27,28"
...,...,...,...,...,...,...,...,...
426,426,Sarah Bond,29/01/16,Este,Gorras,Vestimenta,7,"14,70"
427,427,Sarah Bond,29/01/16,Oeste,Detergente,Hogar,3,"7,44"
443,443,Sarah Bond,31/01/16,Sur,Calcetines,Vestimenta,7,"15,75"
453,453,Sarah Bond,31/01/16,Norte,Bombilla,Hogar,4,"2,40"
455,455,Sarah Bond,31/01/16,Sur,Bufanda,Vestimenta,6,"16,50"

In [12]:
tabla.iloc[231]

index                     231
Vendedor     Trevor Snodgrass
Fecha                15/01/16
Región                   Este
Artículo               Gorras
Categoría          Vestimenta
Unidades                    4
Ganancia                 8,40
Name: 231, dtype: object

In [13]:
tabla.iloc[[231,49,162,101]]

,index,Vendedor,Fecha,Región,Artículo,Categoría,Unidades,Ganancia
231,231,Trevor Snodgrass,15/01/16,Este,Gorras,Vestimenta,4,"8,40"
49,49,Sarah Bond,4/01/16,Norte,Shorts,Vestimenta,12,"58,80"
162,162,Boris Stanford,11/01/16,Este,Medias Femeninas,Vestimenta,5,"15,00"
101,101,Steve Ashton,7/01/16,Oeste,Escoba,Hogar,13,"47,45"

In [14]:
#se puede hacer recortes tambien
tabla.iloc[7:20]

,index,Vendedor,Fecha,Región,Artículo,Categoría,Unidades,Ganancia
7,7,Steve Ashton,1/01/16,Oeste,Gorras,Vestimenta,2,"4,20"
8,8,Trevor Snodgrass,1/01/16,Este,Pan,Comestibles,12,"4,80"
9,9,Sarah Bond,1/01/16,Este,Caramelos,Comestibles,15,"9,00"
10,10,Trevor Snodgrass,1/01/16,Sur,Pan,Comestibles,6,"2,40"
11,11,Boris Stanford,1/01/16,Oeste,Calcetines,Vestimenta,7,"15,75"
12,12,Trevor Snodgrass,1/01/16,Sur,Shorts,Vestimenta,6,"29,40"
13,13,Steve Ashton,2/01/16,Este,Detergente,Hogar,7,"17,36"
14,14,Boris Stanford,2/01/16,Norte,Sánguche de Queso,Comestibles,8,"12,80"
15,15,Desmond Delaney,2/01/16,Oeste,Pepinillo,Comestibles,5,"1,50"
16,16,Dustin Gee,2/01/16,Norte,Sandalias,Vestimenta,7,"73,50"
17,17,Trevor Snodgrass,2/01/16,Este,Pan,Comestibles,5,"2,00"
18,18,Steve Ashton,2/01/16,Este,Cerveza,Comestibles,1,"0,40"
19,19,Trevor Snodgrass,2/01/16,Sur,Escoba,Hogar,11,"40,15"