## Ingreso y visualización de datos (basico)

Importamos la libreria a utilizar

In [28]:
import pandas as pd

Un DataFrame es una tabla de datos con filas y columnas, usada en Python (con Pandas) para analizar, limpiar y transformar información de forma rápida y poderosa — como Excel, pero en esteroides.

In [29]:
#tabla = pd.read_csv(r'/Users/miguelpantigoso/Downloads/datos.csv',sep=';', engine='python')
#tabla

Una serie es una lista de datos unidimensional cada columna y fila vendria a ser serie
 >Skiprows es para poder ignorar las filas inciales si es que hay otro contenido

In [30]:
tabla = pd.read_csv('/Users/miguelpantigoso/Downloads/ventasTotales.csv', sep=';')
#tabla
tabla = pd.read_csv('/Users/miguelpantigoso/Downloads/ventasTotales.csv', sep=';', skiprows=5)
tabla

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
0,1/01/16,Steve Ashton,Norte,Medias Femeninas,Vestimenta,6,"18,00"
1,1/01/16,Trevor Snodgrass,Oeste,Chocolate,Comestibles,8,"3,84"
2,1/01/16,Sarah Bond,Sur,Gorras,Vestimenta,3,"6,30"
3,1/01/16,Desmond Delaney,Sur,Sánguche de Queso,Comestibles,9,"14,40"
4,1/01/16,Desmond Delaney,Este,Chocolate,Comestibles,14,"6,72"
...,...,...,...,...,...,...,...
455,31/01/16,Sarah Bond,Sur,Bufanda,Vestimenta,6,"16,50"
456,31/01/16,Dustin Gee,Este,Sandalias,Vestimenta,11,"115,50"
457,31/01/16,Dustin Gee,Este,Sánguche de Queso,Comestibles,4,"6,40"
458,31/01/16,Dustin Gee,Norte,Escobillón,Hogar,8,"6,80"
459,31/01/16,Trevor Snodgrass,Sur,Pepinillo,Comestibles,7,"2,10"

Metodo shape[] : Devuelve el dato relacionado a la cantidad de filas y columnas de nuestro dataframe (confirma las dimensiones de nuestro dataframe)

In [31]:
tabla.shape    #devuelve 460,7
tabla.shape[0] #devuelve 460
tabla.shape[1] #devuelve 7

7

Si queremos visualizar una cantidad especifica de filas usamos .head( indicando el valor a mostrar)

In [32]:
tabla.head() #por defecto es 5
tabla.head(15) #Si queremos visualizar una cantidad de filas determinadas

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
0,1/01/16,Steve Ashton,Norte,Medias Femeninas,Vestimenta,6,"18,00"
1,1/01/16,Trevor Snodgrass,Oeste,Chocolate,Comestibles,8,"3,84"
2,1/01/16,Sarah Bond,Sur,Gorras,Vestimenta,3,"6,30"
3,1/01/16,Desmond Delaney,Sur,Sánguche de Queso,Comestibles,9,"14,40"
4,1/01/16,Desmond Delaney,Este,Chocolate,Comestibles,14,"6,72"
5,1/01/16,Trevor Snodgrass,Este,Cerveza,Comestibles,15,"6,00"
6,1/01/16,Boris Stanford,Norte,Pepinillo,Comestibles,14,"4,20"
7,1/01/16,Steve Ashton,Oeste,Gorras,Vestimenta,2,"4,20"
8,1/01/16,Trevor Snodgrass,Este,Pan,Comestibles,12,"4,80"
9,1/01/16,Sarah Bond,Este,Caramelos,Comestibles,15,"9,00"
10,1/01/16,Trevor Snodgrass,Sur,Pan,Comestibles,6,"2,40"
11,1/01/16,Boris Stanford,Oeste,Calcetines,Vestimenta,7,"15,75"
12,1/01/16,Trevor Snodgrass,Sur,Shorts,Vestimenta,6,"29,40"
13,2/01/16,Steve Ashton,Este,Detergente,Hogar,7,"17,36"
14,2/01/16,Boris Stanford,Norte,Sánguche de Queso,Comestibles,8,"12,80"

El metodo tail() permite visualizar las ultimas filas o **n** filas que pongas

In [35]:
tabla.tail() #por defecto los ultimos 5 
tabla.tail(10)

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
450,31/01/16,Boris Stanford,Este,Chocolate,Comestibles,3,"1,44"
451,31/01/16,Steve Ashton,Norte,Detergente,Hogar,14,"34,72"
452,31/01/16,Dustin Gee,Oeste,Caramelos,Comestibles,6,"3,60"
453,31/01/16,Sarah Bond,Norte,Bombilla,Hogar,4,"2,40"
454,31/01/16,Dustin Gee,Oeste,Limpiavidrios,Hogar,13,"10,40"
455,31/01/16,Sarah Bond,Sur,Bufanda,Vestimenta,6,"16,50"
456,31/01/16,Dustin Gee,Este,Sandalias,Vestimenta,11,"115,50"
457,31/01/16,Dustin Gee,Este,Sánguche de Queso,Comestibles,4,"6,40"
458,31/01/16,Dustin Gee,Norte,Escobillón,Hogar,8,"6,80"
459,31/01/16,Trevor Snodgrass,Sur,Pepinillo,Comestibles,7,"2,10"

El metodo info() permite tener el numero de entradas , entradas no nulas y tipo de datos de nuestro dataframe

In [37]:
tabla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 0 to 459
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha      460 non-null    object
 1   Vendedor   460 non-null    object
 2   Región     460 non-null    object
 3   Artículo   460 non-null    object
 4   Categoría  460 non-null    object
 5   Unidades   460 non-null    int64
 6   Ganancia   460 non-null    object
dtypes: int64(1), object(6)
memory usage: 25.3+ KB